<html >
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/assets/common/base.css" media="screen" type="text/css" />
    <script src="/assets/common/jquery.min.js"></script>
    <script src="/assets/common/base.js"></script>
    <!--省市-->
    <link rel="stylesheet" type="text/css" href="/assets/common/vendor/city/css/hzw-city-picker.css">
    <script type="text/javascript" src="/assets/common/vendor/city/js/city-data.js"></script>
    <script type="text/javascript" src="/assets/common/vendor/city/js/hzw-city-picker.min.js"></script>

    <script type="text/javascript" src="/assets/common/vendor/province-city-area-js/data.js"></script>
</head>
<body>
    222222222222222222
    <select id="cmbProvince" name="cmbProvince"></select>
    <select id="cmbCity" name="cmbCity"></select>
    <select id="cmbArea" name="cmbArea"></select>
    <script>
        addressInit('cmbProvince', 'cmbCity', 'cmbArea');

    </script>
</body>
</html>